*{
    box-sizing: border-box;
}
body{
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 24px;
    color: #1B1818;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.title{
    font-family: Fira Sans;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #1B1818;
}
/* header start */
.header{
    
    background: #332208;
}
.nav{
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.menu_list{
    display: flex;
}
.menu_list-item{
    margin-right: 30px;
}
.menu_list-item:last-child{
    margin-right: 0;
}
.menu_list-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #FEFEFE;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}
.menu_list-link:hover{
    border-bottom: 1px solid #FEFEFE;
}
.number{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #FEFEFE;
}
/* header end */
/* sharing start */
.sharing_item{
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 65px;
    align-items: center;
    margin-bottom: 104px;
}
.sharing_item-title{
    text-align: center;
    margin-bottom: 20px;
}
.sharing_item-text{
    font-family: Roboto Condensed;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1B1818;
    margin-bottom: 79px;
}
.sharing_item-link{ 
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 19px;  
    color: #FEFEFE;
    padding: 18px 19px;
    background: #C5AC2D;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
}
.sharing_item-link:hover{
    color: #C5AC2D;
    background: #FEFEFE;
    border: 1px solid #C5AC2D;
}
.item_link{
    text-align: center;
}
.pic_coor{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1B1818;
    margin-right: 14px;
}
.sharing_text-pic{
    display: flex;
    justify-content: center;
}
.sharing_cards{
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-column-gap: 50px;
    margin-bottom: 114px;
}
.sharing_card{ 
    height: 150px;
    border: 1px solid #332208;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sharing_card-text{
    border: 1px solid red;
}
.card_text{
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1B1818;
}
.sharing_card-pic{
    margin: auto auto;
}



/* sharing end */
